
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    
    <link rel="stylesheet" href="public/style.css" />
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>
  <body>
    

    <nav>
      <div class="left">
        <a href="/">
          <img src="public/assets/logo2.png" alt="logo" style="width: 50px;" />
        </a>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/blog" class="">Blog</a>
          </li>
        </ul>
        <div class="left2">
        <ul>
          <li>
            <a href="/register" class="list-active">Register</a>
          </li>
          <li>
            <a href="/login" >Login</a>
          </li>
        </ul>
        </div>
      </div>
      <div class="right">
        <a href="/contact"> Contact Me </a>
      </div>
    </nav>

   {{#if messages.danger}}
    <div class="alert">
  
<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  {{messages.danger}}
</div>
{{/if}}

     <div class="blog">
      <div class="blog-form">
        <div class="form-container">
          <form action="/register" method="POST" class="formBlog">
            <h1>Register</h1>
            <div class="input-icons" >
             <label for="name">Name</label>
              
              <input class="input-field" type="text" name="name" id="name" />
              <i class="fa fa-user icon"></i>
            </div>
           <div class="input-icons" >
             <label for="email">Email</label>
              
              <input class="input-field" type="email" name="email" id="email" />
              <i class="fa fa-envelope icon"></i>
            </div>
            <div class="input-icons" >
             <label for="password">Password</label>
              
              <input class="input-field" type="password" name="password" id="password" />
              <i class="fa fa-key icon"></i>
            </div>
            <div class="btnRegister" style="margin-top: -20px;">
              <button type="submit">Submit</button>
            </div>
            <div style="text-align: center; margin-top:25px"> 
              Already have an account? <a href="/login">Login</a>.
            </div>
          </form>
        </div>
      </div>
     
      <div id="contents" class="blog-list">
        <!-- dynamic content would be here -->
        
      </div>
    </div>
    <script src="public/blog.js"></script>
  </body>
</html>